<div class="col-md-6 weather" style="border: #2F445B solid 4px">
  <div class="weather-top">
    <div class="weather-time">
      <h4>Wednesday</h4>
      <p>Partly Cloudy</p>
      <h1>13</h1>
    </div>
    <div class="weather-img">
      <img src="../../assets/images/cloud.png" alt="">
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="weather-bottom">
    <div class="seasons">
      <div class="season-left">
        <h4>Thursday</h4>
      </div>
      <div class="temparatur">
        <span class="cloud-img"> </span>
        <h5>25 5</h5>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="seasons">
      <div class="season-left">
        <h4>Friday</h4>
      </div>
      <div class="temparatur">
        <span class="cloud-rain"> </span>
        <h5>25 5</h5>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="seasons">
      <div class="season-left">
        <h4>Saturday</h4>
      </div>
      <div class="temparatur">
        <span class="cloud-sun"> </span>
        <h5>25 5</h5>
      </div>
      <div class="clearfix"> </div>
    </div>
    <a href="#">See Full Report ></a>
  </div>
</div>
